.navbar-home {
  margin-left: 400px;
}
.task1-header{
  text-align: center;
  margin-top: 20px;
}
.task1-header h1{
  font-size: 50px;
}
.task1-header p{
  font-size: 20px;
}


.task2-header{
  text-align: center;
  margin-top: 20px;
  margin-top: 230px;
}
.text{
  width: 287px;
  height: 47px;
  text-align: center;
/* border-color: grey;  */
}
.task4-header{
  text-align: center;
  margin-top: 20px;
}
